body {
	background-image: url('apokalyptischeReiterDürer.jpg');
	font-family: 'luftwaffe', sans-serif;
	padding: 20px;
}

hr {
	margin-top: 30px;
	margin-bottom: 30px;
	height: 2px;
	background-color: black;
	border-color: black;
}

h1 {
	font-size: 46px;
	font-family: 'luftwaffe', sans-serif;
}

h1, h2, p {
	text-align: center;
	font-family: 'luftwaffe', sans-serif;
}

p {
	font-size: 38px;
	font-family: 'luftwaffe', sans-serif;
}

.established {
	font-style: italic;
}

.item p {
	display: inline-block;
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 28px;
}

.uberschrift {
	text-align: left;
	width: 75%;
}

.link {
	text-align: right;
	width: 60%;
}

.names {
	text-align: center;
}

.outerbox {
	width: 80%;
	background-color: #7B3539;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	max-width: 1000px;
}

@font-face {
    font-family: 'luftwaffe';
    src: url('luftwaffe.ttf') format('truetype'); /* Update the path as needed */
}


/*.innerbox {
	width: 60%;
	background: background;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	max-width: 800px;
}*/

/* Flexbox für die zentrale Ausrichtung und dynamische Größe des Logos */
.logo-container {
	display: flex;
	justify-content: center;
	width: 100%;
}

.outerbox img {
	width: 100%;  /* Bild nimmt 100% der Breite des Containers ein */
	max-width: 400px; /* Maximale Breite für das Logo, damit es nicht zu groß wird */
	height: auto; /* Höhe wird automatisch angepasst, um das Seitenverhältnis zu wahren */
}
